h2 {
    color: rgb(128, 87, 0);
}
#List_movies
{
    border: 1px ;
    color: blue;
    font-size: 13px; 
}

select
{
    color: blueviolet;
    font-size: 12px;
    width: 250;
}

tr{
    text-align: left;
}

#result_movies
{
    border: 1px ;
    border-color: black;
    font-size: 14px;
    color: rgb(53, 4, 34); 
    width: 300;
    background-color:floralwhite
}
