<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Similar Movie Prediction by fastapi demo</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
<center><h2> Similar Movie prediction </h2>
<form action="/render" method="post" >
<table id="List_movies"> <tr> <th>
	<label for="Movie_choice">Please Select a Movie from List :</label> </th>
    <td>
     <select id ="category_id" name="category_id">   
        {% for movie in movies%}
            {% if Res==movie %}
            <option name="{{movie}}" value="{{movie}}" selected>{{ movie}}</option>
            {% endif %}
            <option name="{{movie}}" value="{{movie}}">{{ movie}}</option>
        {% endfor %}
     </select>
    
    </td><td>
<input type="submit"></td></tr>
</table>
</form>
<p>You have selected : {{ Res }}</p>
<p> The Similar Movies are </p>
{{ rec_movies |safe }}
</center>
</body>
</html>